# Preprocessing for NLP 2

### Imports

In [1]:
import pandas as pd
import sys
import os

# Get the current working directory (typically where the notebook is located or executed)
current_dir = os.getcwd()

# Define the project root relative to the current working directory
project_root = os.path.abspath(os.path.join(current_dir, "../"))  # Adjust this based on your folder structure

# Add project_root to sys.path
sys.path.append(project_root)

from src.preprocessing.text_cleaning import LowercaseText, RemoveSpecialCharacters, RemoveExtraWhitespace, PreprocessWithSpacy

C:\Users\Geeneth\Desktop\Code\Machine Learning\PycharmProjects\Advanced Sentiment Analysis\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Loading the data

In [ ]:
data_path = '../data/cleaned/cleaned_reviews.csv'
df = pd.read_csv(data_path)
df

,text,rating,date,location,review_length,word_count
0,Delicious Thai restaurant! If you're looking ...,5,"Dec 4, 2024","Temecula, CA",198,33
1,"Came here on Valentine, and the foods were goo...",3,"Feb 15, 2025","Jacksonville, FL",485,82
2,unfortunately my husband reacts to msg (ajinom...,1,"Oct 25, 2024","Kailua, HI",733,131
3,Food was delicious...the only drawback is the ...,4,"Jan 7, 2025","San Rafael, CA",165,26
4,Great place for Thai food and just as long as ...,4,"Feb 6, 2024","San Clemente, CA",345,69
5,Really good Thai food. Large portions and ful...,5,"Jan 2, 2024","Cupertino, CA",336,59
6,Came here looklng for Indonesian food for dinn...,4,"Feb 22, 2024","Portishead, United Kingdom",509,98
7,The food is good and the people are nice. The ...,4,"Mar 29, 2024","Lakeside, CA",129,29
8,We were hungry and we when in and this was abs...,5,"Aug 24, 2022","Calgary, Canada",162,32
9,Overall food was good. I enjoyed the papaya sa...,5,"Jan 1, 2024","Champaign, IL",224,39
10,"Nice food, large portions and low prices. I re...",5,"Dec 14, 2023","Sydney, Australia",121,23
11,Authentic Thai flavoursEven on a Wednesday eve...,5,"Nov 6, 2019","Bulimba, Australia",362,63
12,I usually love exploring different restaurants...,5,"Mar 29, 2018","Chicago, IL",739,130
13,Best Thom Yum soup ever! Good service. Very t...,5,"Jul 2, 2021","Knoxville, TN",51,9
14,"As others have stated, Home Thai Restaurant is...",3,"May 26, 2019","Los Angeles, CA",1720,306
15,"Very bad experience. First of all, the environ...",1,"Feb 15, 2023","Chippendale, Sydney, Australia",858,155
16,This place definitely lives up to the hype! Th...,5,"Jan 3, 2019","Los Angeles, CA",539,95
17,We found Home Thai on Yelp and were not disapp...,4,"Sep 29, 2016","Indianapolis, IN",888,163
18,We always passed this restaurant on our way ho...,5,"Sep 25, 2018","Brisbane, Australia",1054,207
19,We came here because we'd heard good things fr...,3,"Jul 4, 2018","Los Angeles, CA",308,50

In [3]:
print("Lowercaseing the text")
df['text'] = df['text'].astype(str).apply(LowercaseText().process)
df

Lowercaseing the text

,text,rating,date,location,review_length,word_count
0,delicious thai restaurant! if you're looking ...,5,"Dec 4, 2024","Temecula, CA",198,33
1,"came here on valentine, and the foods were goo...",3,"Feb 15, 2025","Jacksonville, FL",485,82
2,unfortunately my husband reacts to msg (ajinom...,1,"Oct 25, 2024","Kailua, HI",733,131
3,food was delicious...the only drawback is the ...,4,"Jan 7, 2025","San Rafael, CA",165,26
4,great place for thai food and just as long as ...,4,"Feb 6, 2024","San Clemente, CA",345,69
5,really good thai food. large portions and ful...,5,"Jan 2, 2024","Cupertino, CA",336,59
6,came here looklng for indonesian food for dinn...,4,"Feb 22, 2024","Portishead, United Kingdom",509,98
7,the food is good and the people are nice. the ...,4,"Mar 29, 2024","Lakeside, CA",129,29
8,we were hungry and we when in and this was abs...,5,"Aug 24, 2022","Calgary, Canada",162,32
9,overall food was good. i enjoyed the papaya sa...,5,"Jan 1, 2024","Champaign, IL",224,39
10,"nice food, large portions and low prices. i re...",5,"Dec 14, 2023","Sydney, Australia",121,23
11,authentic thai flavourseven on a wednesday eve...,5,"Nov 6, 2019","Bulimba, Australia",362,63
12,i usually love exploring different restaurants...,5,"Mar 29, 2018","Chicago, IL",739,130
13,best thom yum soup ever! good service. very t...,5,"Jul 2, 2021","Knoxville, TN",51,9
14,"as others have stated, home thai restaurant is...",3,"May 26, 2019","Los Angeles, CA",1720,306
15,"very bad experience. first of all, the environ...",1,"Feb 15, 2023","Chippendale, Sydney, Australia",858,155
16,this place definitely lives up to the hype! th...,5,"Jan 3, 2019","Los Angeles, CA",539,95
17,we found home thai on yelp and were not disapp...,4,"Sep 29, 2016","Indianapolis, IN",888,163
18,we always passed this restaurant on our way ho...,5,"Sep 25, 2018","Brisbane, Australia",1054,207
19,we came here because we'd heard good things fr...,3,"Jul 4, 2018","Los Angeles, CA",308,50

In [4]:
print("Removing Special Characters in the text")
df['text'] = df['text'].astype(str).apply(RemoveSpecialCharacters().process)
df

Removing Special Characters in the text

,text,rating,date,location,review_length,word_count
0,delicious thai restaurant if youre looking fo...,5,"Dec 4, 2024","Temecula, CA",198,33
1,came here on valentine and the foods were good...,3,"Feb 15, 2025","Jacksonville, FL",485,82
2,unfortunately my husband reacts to msg ajinomo...,1,"Oct 25, 2024","Kailua, HI",733,131
3,food was deliciousthe only drawback is the fac...,4,"Jan 7, 2025","San Rafael, CA",165,26
4,great place for thai food and just as long as ...,4,"Feb 6, 2024","San Clemente, CA",345,69
5,really good thai food large portions and full...,5,"Jan 2, 2024","Cupertino, CA",336,59
6,came here looklng for indonesian food for dinn...,4,"Feb 22, 2024","Portishead, United Kingdom",509,98
7,the food is good and the people are nice the s...,4,"Mar 29, 2024","Lakeside, CA",129,29
8,we were hungry and we when in and this was abs...,5,"Aug 24, 2022","Calgary, Canada",162,32
9,overall food was good i enjoyed the papaya sal...,5,"Jan 1, 2024","Champaign, IL",224,39
10,nice food large portions and low prices i reco...,5,"Dec 14, 2023","Sydney, Australia",121,23
11,authentic thai flavourseven on a wednesday eve...,5,"Nov 6, 2019","Bulimba, Australia",362,63
12,i usually love exploring different restaurants...,5,"Mar 29, 2018","Chicago, IL",739,130
13,best thom yum soup ever good service very tasty,5,"Jul 2, 2021","Knoxville, TN",51,9
14,as others have stated home thai restaurant is ...,3,"May 26, 2019","Los Angeles, CA",1720,306
15,very bad experience first of all the environme...,1,"Feb 15, 2023","Chippendale, Sydney, Australia",858,155
16,this place definitely lives up to the hype the...,5,"Jan 3, 2019","Los Angeles, CA",539,95
17,we found home thai on yelp and were not disapp...,4,"Sep 29, 2016","Indianapolis, IN",888,163
18,we always passed this restaurant on our way ho...,5,"Sep 25, 2018","Brisbane, Australia",1054,207
19,we came here because wed heard good things fro...,3,"Jul 4, 2018","Los Angeles, CA",308,50

In [5]:
print("Removing Extra Whitespaces in the text")
df['text'] = df['text'].astype(str).apply(RemoveExtraWhitespace().process)
df

Removing Extra Whitespaces in the text

,text,rating,date,location,review_length,word_count
0,delicious thai restaurant if youre looking for...,5,"Dec 4, 2024","Temecula, CA",198,33
1,came here on valentine and the foods were good...,3,"Feb 15, 2025","Jacksonville, FL",485,82
2,unfortunately my husband reacts to msg ajinomo...,1,"Oct 25, 2024","Kailua, HI",733,131
3,food was deliciousthe only drawback is the fac...,4,"Jan 7, 2025","San Rafael, CA",165,26
4,great place for thai food and just as long as ...,4,"Feb 6, 2024","San Clemente, CA",345,69
5,really good thai food large portions and full ...,5,"Jan 2, 2024","Cupertino, CA",336,59
6,came here looklng for indonesian food for dinn...,4,"Feb 22, 2024","Portishead, United Kingdom",509,98
7,the food is good and the people are nice the s...,4,"Mar 29, 2024","Lakeside, CA",129,29
8,we were hungry and we when in and this was abs...,5,"Aug 24, 2022","Calgary, Canada",162,32
9,overall food was good i enjoyed the papaya sal...,5,"Jan 1, 2024","Champaign, IL",224,39
10,nice food large portions and low prices i reco...,5,"Dec 14, 2023","Sydney, Australia",121,23
11,authentic thai flavourseven on a wednesday eve...,5,"Nov 6, 2019","Bulimba, Australia",362,63
12,i usually love exploring different restaurants...,5,"Mar 29, 2018","Chicago, IL",739,130
13,best thom yum soup ever good service very tasty,5,"Jul 2, 2021","Knoxville, TN",51,9
14,as others have stated home thai restaurant is ...,3,"May 26, 2019","Los Angeles, CA",1720,306
15,very bad experience first of all the environme...,1,"Feb 15, 2023","Chippendale, Sydney, Australia",858,155
16,this place definitely lives up to the hype the...,5,"Jan 3, 2019","Los Angeles, CA",539,95
17,we found home thai on yelp and were not disapp...,4,"Sep 29, 2016","Indianapolis, IN",888,163
18,we always passed this restaurant on our way ho...,5,"Sep 25, 2018","Brisbane, Australia",1054,207
19,we came here because wed heard good things fro...,3,"Jul 4, 2018","Los Angeles, CA",308,50

In [6]:
print("Preprocessing the text With Spacy")
df['text'] = df['text'].astype(str).apply(PreprocessWithSpacy().process)
df

Preprocessing the text With Spacy

,text,rating,date,location,review_length,word_count
0,delicious thai restaurant look fresh flavorful...,5,"Dec 4, 2024","Temecula, CA",198,33
1,come valentine food good order tomyum soup duc...,3,"Feb 15, 2025","Jacksonville, FL",485,82
2,unfortunately husband react msg ajinomoto flav...,1,"Oct 25, 2024","Kailua, HI",733,131
3,food deliciousthe drawback fact card accept pa...,4,"Jan 7, 2025","San Rafael, CA",165,26
4,great place thai food long know extremely busy...,4,"Feb 6, 2024","San Clemente, CA",345,69
5,good thai food large portion flavor place busy...,5,"Jan 2, 2024","Cupertino, CA",336,59
6,come looklng indonesian food dinner early even...,4,"Feb 22, 2024","Portishead, United Kingdom",509,98
7,food good people nice sitting look menu order ...,4,"Mar 29, 2024","Lakeside, CA",129,29
8,hungry absolutely solid thai partner love pad ...,5,"Aug 24, 2022","Calgary, Canada",162,32
9,overall food good enjoy papaya salad habe get ...,5,"Jan 1, 2024","Champaign, IL",224,39
10,nice food large portion low price recommend th...,5,"Dec 14, 2023","Sydney, Australia",121,23
11,authentic thai flavourseven wednesday evening ...,5,"Nov 6, 2019","Bulimba, Australia",362,63
12,usually love explore different restaurant m tr...,5,"Mar 29, 2018","Chicago, IL",739,130
13,well thom yum soup good service tasty,5,"Jul 2, 2021","Knoxville, TN",51,9
14,state home thai restaurant sprawl culinary eff...,3,"May 26, 2019","Los Angeles, CA",1720,306
15,bad experience environment noisyit strange not...,1,"Feb 15, 2023","Chippendale, Sydney, Australia",858,155
16,place definitely live hype line stop service s...,5,"Jan 3, 2019","Los Angeles, CA",539,95
17,find home thai yelp disappointed arrive early ...,4,"Sep 29, 2016","Indianapolis, IN",888,163
18,pass restaurant way home busy fuss abouti rest...,5,"Sep 25, 2018","Brisbane, Australia",1054,207
19,come d hear good thing friend prosfood drink c...,3,"Jul 4, 2018","Los Angeles, CA",308,50

In [7]:
df.loc[2]["text"]

'unfortunately husband react msg ajinomoto flavor enhancer normally thai food think safe thai restaurant safe talk waitress reaction waitress kindly change order avoid possibility msg currently emergency room bad reaction food despite waitress assurance cook avoid flavor msg food bland bland contain msg specify msg say allergic need hospitalwe avoid home future service good msg confusion ambience good'

### Saving the initally cleaned dataset

In [ ]:
df.to_csv('../data/processed/cleaned_and_preprocessed_reviews.csv', index=False)